#mos-wc-app {
    padding-right: 20px;
    margin-top: 20px;
}

#mos-wc-app .v-alert {
    padding: 15px;
    margin: 0 auto 15px;
}

#mos-wc-app .v-input input {
    background-color: transparent;
    border: 0;
    box-shadow: none;
}

#mos-wc-app .mos-upload-files--drop {
    padding: 1.25rem 0.75rem;
    border-radius: .375rem;
    border: 1px dashed rgba(0, 0, 0, 0.35);
    line-height: 1.6;
}
#mos-wc-app .mos-uploaded-files--container {
    max-height: 250px;
    overflow-y: auto;
}
#mos-wc-app .mos-uploaded-files .file-name {
    max-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}